{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-2">Input 3 Ingredients</h2>
    <p class="name">Avidmaa 2022810096</p>

    <form action="/generate_recipe" method="post">
        <input
            type="text"
            name="ingredient"
            placeholder="Ingredient 1"
            required
            class="form-control mb-3"
        >

        <input
            type="text"
            name="ingredient"
            placeholder="Ingredient 2"
            required
            class="form-control mb-3"
        >

        <input
            type="text"
            name="ingredient"
            placeholder="Ingredient 3"
            required
            class="form-control mb-3"
        >

        <label class="subheading" for="cuisine">Choose a cuisine:</label>
        <select name="cuisine" id="cuisine" class="form-select mb-3">
            {% for cuisine in cuisines %}
                <option value="{{ cuisine }}">
                    {{ cuisine }}
                </option>
            {% endfor %}
        </select>

        <label class="subheading" for="restrictions">Dietary Restrictions:</label>
        <div class="checkbox-container mb-3">
            {% for restriction in dietary_restrictions %}
                <div class="checkbox-group">
                    <label class="checkbox-label">
                        <input
                            type="checkbox"
                            name="restrictions"
                            value="{{ restriction }}"
                        >
                        {{ restriction }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <label class="subheading" for="language">Choose a language:</label>
        <select name="language" id="language" class="form-select mb-3">
            {% for language in languages %}
                <option value="{{ language }}">
                    {{ language }}
                </option>
            {% endfor %}
        </select>

        <input
            type="submit"
            value="Generate Recipe"
            class="btn btn-primary w-100"
        >
    </form>
</div>

{% endblock %}